@font-face {
  font-family: 'latoregular';
  src: url('fonts/lato/lato-regular-webfont.woff2') format('woff2'),
    url('fonts/lato/lato-regular-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'latobold';
  src: url('fonts/lato/lato-bold-webfont.woff2') format('woff2'),
    url('fonts/lato/lato-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'latolight';
  src: url('fonts/lato/lato-light-webfont.woff2') format('woff2'),
    url('fonts/lato/lato-light-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}


@font-face {
  font-family: 'latolight';
  src: url('fonts/lato/lato-light-webfont.woff2') format('woff2'),
    url('fonts/lato/lato-light-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
    font-family: 'spectralbold';
    src: url('fonts/spectral/Spectral-ExtraBold.woff2') format('woff2'),
        url('fonts/spectral/spectral-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'spectrallight';
    src: url('fonts/spectral/Spectral-Light.woff2') format('woff2'),
        url('fonts/spectral/Spectral-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'spectralregular';
    src: url('fonts/spectral/Spectral-Medium.woff2') format('woff2'),
        url('fonts/spectral/Spectral-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'lorabold';
    src: url('fonts/lora/Lora-Bold.woff2') format('woff2'),
        url('fonts/lora/Lora-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'loraregular';
    src: url('fonts/lora/Lora-Medium.woff2') format('woff2'),
        url('fonts/lora/Lora-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'loralight';
    src: url('fonts/lora/Lora-Regular.woff2') format('woff2'),
        url('fonts/lora/Lora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sourcelight';
    src: url('fonts/source/SourceSansPro-Light.woff2') format('woff2'),
        url('fonts/source/SourceSansPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sourceregular';
    src: url('fonts/source/SourceSansPro-Regular.woff2') format('woff2'),
        url('fonts/source/SourceSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'sourcebold';
    src: url('fonts/source/SourceSansPro-Bold.woff2') format('woff2'),
        url('fonts/source/SourceSansPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

h1 {
  color: #005587;
  font-family: sourcebold;
  padding-top: 4%;
  margin: 0;
  font-size: 36px;
  line-height: 36px;
}

h2 {
  font-size: 21px;
  line-height: 10px;
}

body {
  background-color: #f3e1c9;
  font-family: sourcelight;
  line-height: 1.6em;
  font-size: 15px;
  max-width: 750px;
  margin: auto;
  margin-top: 0.75%;
}

header {
  text-align: left;
  margin-top: 5%;
  margin: auto;
  background-color: inherit;
  margin-left: 3%;
  max-width: 750px
}

main {
  margin: auto;
  margin-left: 3%;
}

nav {
  /*display: block;*/
  /*background-color: #EFE2BA;*/
  overflow: hidden;
  float: left;
  width: 97%;
  /*border: 1.5px solid;*/
  margin-top: 0.25%;
  /*margin-bottom: -0.01%;*/
  /*padding-left: 1%;*/
}

hr {
  color: #005587;
  text-align: left;
  width: 97%;
  max-width: 750px;
  margin-left: 3%;
  display: block;
  height: 2px;
  border=0;
  border-top: 2.5px solid;
  border-bottom: 0px;
  background-color: inherit;
}


nav a {
  float: left;
  color: black;
  text-align: center;
  padding: 1px 0px;
  margin-right: 21px
}

nav a.active {
  color: #005587;
}

nav a:hover {
  color: gray;
}

img {
  width: 80%;
  max-width: 750px;
  margin-top: 5px;
}

.subsection {
  width: 100%;
  max-width: 750px;
  font-size: 16px;
}

.weeklist {
  /* delete default counter */
  list-style-type: none;
  /* create custom counter and set it to 0 */
  counter-reset: elementcounter;
}

.weeklist>li:before {
  /* print out "Element " followed by the current counter value */
  content: "Week "counter(elementcounter) ": ";
  /* increment counter */
  counter-increment: elementcounter;
}

.suppFile {
  font-size: 10px;
}

h4.subhead1 {
  font-family: sourceregular;
  font-size: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.subsubhead {
  line-height: 1em;
  font-family: sourceregular;
  font-size: 18px;
  margin-top: 0.75em;
  margin-bottom: 10px;
}




